<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/menu.ejs') %>

    <div id="login-container">
      <div id="left-column"></div>
      <div id="branding">
        <img src="./images/logo.png" />
        <h1><%= title %></h1>
      </div>
      
      <div id="login-form">
        <div class="credentials">
          <h6>Demo users:</h6>
          <p>email: user1@example.com, password:r1r2r3r4r5R$</p>
          <p>email: user2@example.com, password:r1r2r3r4r5R$</p>
          <p>email: admin@example.com, password:r1r2r3r4r5R$</p>
        </div>
        <form method="post" action="/login">
          <input
            type="text"
            name="username"
            placeholder="enter mobile or email"
            value="<%= data.username %>"
          />
          <% if (errors.username) { %>
          <p class="error show"><%= errors.username.msg %></p>
          <% } %>

          <input type="password" name="password" placeholder="enter password" />
          <% if (errors.password) { %>
          <p class="error show"><%= errors.password.msg %></p>
          <% } %>

          <input type="submit" value="Login" />
          <% if (errors.common) { %>
            <p class="error show"><%= errors.common.msg %></p>
            <% } %>
        </form>
      </div>
    </div>
  </body>
</html>
