<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/header.ejs') %>
  <body>
    <%- include('./partials/menu.ejs') %>

    <div class="manageUser-container">
      <div id="title">
        <h2><%= title %></h2>
      </div>

      <div class="new-message-container new-user">
        <a href="#" onclick="openModal()">+</a>
      </div>

      <div id="users-table">
        <table>
          <thead>
            <tr>
              <th>Name</th>
              <th>Email</th>
              <th>Manage</th>
            </tr>
          </thead>
          <tbody id="users-table">
            <% users.forEach(user => { %>
            <tr id="<%= user._id %>">
              <td class="name">
                <% if (user.avatar) { %>
                <img src="./uploads/avatars/<%= user.avatar %> " />
                <% } else { %>
                <img src="./images/nophoto.png" />
                <% } %>

                <span><%= user.name %></span>
              </td>
              <td><%= user.email %></td>
              <td class="manage">
                <img
                  src="./images/trash.png"
                  alt="Delete"
                  onclick="deleteUser('<%= user._id %>')"
                />
                <img
                  src="./images/pencil.png"
                  alt="Edit"
                  onclick="openEditModal('<%= user._id %>')"
                />
              </td>
            </tr>
            <% }) %>
          </tbody>
        </table>
      </div>
    </div>

    <%- include('./partials/modals/add-user-modal.ejs') %>
    <%- include('./partials/modals/edit-user-modal.ejs') %>
    <script>
      // toasts
      const deleteSuccessToast = Toastify({
        message: "User deleted successfully",
        duration: 3000,
      });

      const deleteFailureToast = Toastify({
        message: "Could not delete the user !",
        duration: 3000,
      });

      // delete user
      async function deleteUser(userId) {
        let response = await fetch(`/users/${userId}`, {
          method: "DELETE",
        });

        let result = await response.json();

        if (result.errors) {
          deleteFailureToast.showToast();
        } else {
          deleteSuccessToast.showToast();
          setTimeout(() => {
            location.reload();
          }, 1000);
        }
      }
    </script>
  </body>
</html>
